.head {
	
    color:white;
    text-align: center;
    background-color:#333333;
    height: 80px;
	border-radius:10px;
}

body {

    font-size: 12pt;
	background-color:#a4d4ae;
}

nav div {
	float:right;
	margin:15px 10px 10px 10px;
}

div header{
	
    float: left;
	margin:0px 10px 10px 30px;
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

menu {
font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
padding: 20px 50px 150px;
font-size: 13px;
text-align: center;
text-decoration:none;
background: #f4778e;
position: relative;
z-index: 1;
}

.menu ul {
text-align: left;
display: inline;
margin: 0;
padding: 15px 4px 17px 0;
list-style: none;
}

.menu a {
text-align: left;
display: inline;
margin: 0;
padding: 0px 4px 0px 0;
list-style: none; 
text-decoration:none;
color: white;
font-size: 15px;
}
.menu a:link { 
text-decoration:none;
color: #000;
}
.menu ul li {
font: normal 12px/18px sans-serif;
display: inline-block;
margin-right: -4px;
position: relative;
padding: 15px 20px;
background: #333333; 
cursor: pointer;
-webkit-transition: all 0.2s; 
-moz-transition: all 0.2s;
-ms-transition: all 0.2s;
-o-transition: all 0.2s;
transition: all 0.2s;
}
.menu ul li:hover {
background: #347474; 
color: #fff; 
position: relative;
z-index: 1;
}
.menu li:hover a { 
  border-bottom-color: orange;
}
.menu li:hover a { 
  color:#fff; 
}
.menu ul li ul {
padding: 0;
position: absolute;
top: 48px;
left:0;
width: 150px;
display: inline; 
opacity: 0;
visibility: hidden;
-webkit-transiton: opacity 0.2s; 
-moz-transition: opacity 0.2s;
-ms-transition: opacity 0.2s;
-o-transition: opacity 0.2s;
-transition: opacity 0.2s;
}

.menu ul li ul li { 
background: #233c63; 
display:block;
color: #fff;
}

.menu ul li ul li:hover { background: #83a5db; } 
ul li:hover ul {
display: inline;
opacity: 1;
visibility: visible;
}

[id="Calendario"]{
	
	border-radius:10px;
	float:left;
	background-color:#32afa9;
	color:white;
	width: 100%;
	height: 100%;
	font-size: 15pt;
}

#eligeviaje{
	
   color:white;
   text-align:center;
   font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#viaje3{
	
   border-radius:10px;
   background-color:#333333;
   margin:50px 100px 100px 100px;
   text-align:justify;
   height:210px;
}

#viaje3 form {
	
	 text-align:center;
	 font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}







#Quienes{
    left:35%;
    top:150px;    
    position: relative;
    background:blue;
    color:white;
    width: 450px;
    height: 400px;
    font-size: 15pt;
    text-align: center;
}








#disfruta{
	margin-top:120px;
	background-image:url(../imagenes/playa.jpg);
	height:800px;
	width:100%;
	background-repeat:no-repeat;
	background-clip:content;
}

.div1{
	float:left;
	width:200px;
	height:200px;
	border: 1px solid red;
	border-radius:20px;
	margin-left:25%;
}

.div2{
	width:200px;
	height:200px;
	float:left;
	border: 1px solid red;
	border-radius:20px;
	margin-left:25%;
}

.div3{
	clear:left;
	float:left;
	width:200px;
	height:200px;
	border: 1px solid red;
	border-radius:20px;
	margin-left:25%;
}

.div4{
	border: 1px solid red;
	border-radius:20px;
	float:left;
	width:200px;
	height:200px;
	margin-left:25%;

}



